<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 注解 -->
	<context:annotation-config />
	<!-- 扫描 bean -->
	<context:component-scan base-package="com.llx.bc" />
	<!-- 加载静态资源 -->
	<resources mapping="/resources/**" location="/resources/" />
	<annotation-driven />
	<!-- 自定义拦截链配置 -->  
    <interceptors>
    	<!-- 登录安全拦截器 -->
        <interceptor>  
            <mapping path="/user-profile"/>
            <beans:bean class="com.llx.bc.interceptor.LoginSecurityInterceptor"></beans:bean>  
        </interceptor>  
    </interceptors>  
	<!-- jsp视图解析器 -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>

</beans:beans>

  
